{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'macros.html' import user_card with context %}

{% block title %}{{ user.name }}'s following{% endblock %}

{% block content %}
{% include 'user/_header.html' %}
<div class="row">
  <div class="col-md-12">
    {% if following|length != 1 %}
      {% for following in following %}
        {% if following != user %}
        {{ user_card(user=following) }}
        {% endif %}
      {% endfor %}
    {% else %}
    <div class="tip">
      <h3>No following.</h3>
    </div>
    {% endif %}
  </div>
</div>
{% if followers|length != 1 %}
<div class="page-footer">
  {{ render_pagination(pagination) }}
</div>
{% endif %}
{% endblock %}
