{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="page-header">
  <h1>About</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <p>This is an example Flask project for the book <a href="https://helloflask.com/en/book/4/" target="_blank">Python Web Development with Flask (2nd edition)</a>.</p>
    <p>You can find the source code on <a href="https://github.com/greyli/moments" target="_blank">GitHub</a>.</p>
    <small>In the current deployment version, email verification is skipped, and the maximum number of uploaded images is limited to 100.</small>
    <hr>
    <p>这是《<a href="https://helloflask.com/book/4/" target="_blank">Flask Web 开发实战（第 2 版）</a>》第 10 章的示例程序。</p>
    <p>你可以在 <a href="https://github.com/greyli/moments" target="_blank">GitHub</a> 上找到源码。</p>
    <small>在当前部署版本中，邮件验证操作已被跳过，图片最大上传数量限制为 100 张。</small>
  </div>
</div>
{% endblock %}
